/* ==================================
=====================================
            RESET
=====================================
================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ==================================
=====================================
            CORE 
=====================================
================================== */

.row {
    display: flex;
    flex-wrap: wrap;
}

/* ==================================
=====================================
            FRAMEWORK
=====================================
================================== */

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.col-flex-grow {
    flex-grow: 1;
}

/* ==================================
=====================================
        FRAMEWORK OFFSET
=====================================
================================== */

/* ================
        LEFT
   ================ */
.col-offset-left-1 {
    margin-left: calc(100% / 12 * 1);
}

.col-offset-left-2 {
    margin-left: calc(100% / 12 * 2);
}

.col-offset-left-3 {
    margin-left: calc(100% / 12 * 3);
}

.col-offset-left-4 {
    margin-left: calc(100% / 12 * 4);
}

.col-offset-left-5 {
    margin-left: calc(100% / 12 * 5);
}

.col-offset-left-6 {
    margin-left: calc(100% / 12 * 6);
}

.col-offset-left-7 {
    margin-left: calc(100% / 12 * 7);
}

.col-offset-left-8 {
    margin-left: calc(100% / 12 * 8);
}

.col-offset-left-9 {
    margin-left: calc(100% / 12 * 9);
}

.col-offset-left-10 {
    margin-left: calc(100% / 12 * 10);
}

.col-offset-left-11 {
    margin-left: calc(100% / 12 * 11);
}

.col-offset-left-12 {
    margin-left: calc(100% / 12 * 12);
}

/* ================
        RIGHT
   ================ */
   .col-offset-right-1 {
    margin-right: calc(100% / 12 * 1);
}

.col-offset-right-2 {
    margin-right: calc(100% / 12 * 2);
}

.col-offset-right-3 {
    margin-right: calc(100% / 12 * 3);
}

.col-offset-right-4 {
    margin-right: calc(100% / 12 * 4);
}

.col-offset-right-5 {
    margin-right: calc(100% / 12 * 5);
}

.col-offset-right-6 {
    margin-right: calc(100% / 12 * 6);
}

.col-offset-right-7 {
    margin-right: calc(100% / 12 * 7);
}

.col-offset-right-8 {
    margin-right: calc(100% / 12 * 8);
}

.col-offset-right-9 {
    margin-right: calc(100% / 12 * 9);
}

.col-offset-right-10 {
    margin-right: calc(100% / 12 * 10);
}

.col-offset-right-11 {
    margin-right: calc(100% / 12 * 11);
}

.col-offset-right-12 {
    margin-right: calc(100% / 12 * 12);
}

