

/* ==================================
=====================================
            DEBUG
=====================================
================================== */

.debug {
    background-color: black;
}

.gutter-top {
    margin-top: 10px;
}

/* ==================================
=====================================
            CONTAINER
=====================================
================================== */

.container {
    max-width: 75rem;
    margin: auto;
}

/* ==================================
=====================================
            VARIABLES
=====================================
================================== */

:root {
    --red: #d22b07;
    --skin: #e6b044;
    --shirt: #854f13;
}